@import "../../../assets/variables/variables";

@mixin nav-items-common($height, $width, $left, $top) {
  height: $height;
  width: $width;
  left: $left;
  top: $top;

  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  color: $nav-item-color;
  line-height: 75px;
}

.contact-header {
  background: $contact-header-background;
  height: 44px;
  display: flex;
  align-items: center;
}
.contact-details {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  font-family: Poppins;
  line-height: 18px;
  color: $contact-details-font-color;
}

.navbar {
  z-index: 1;
}

.main-header {
  height: 92px;
  top: 44px;
  background: $main-header-background;
}

.logo {
  height: 40.05464172363281px;
  width: 33.47238540649414px;
  left: 25.2969970703125px;
  top: 13.94537353515625px;
}

ul {
  background-color: white;
}

.laptops {
  margin-left: 1.5rem;
  @include nav-items-common(80px, 65px, 380px, 50px);
}

.desktops {
  @include nav-items-common(80px, 95px, 469px, 50px);
}

.net-devices {
  @include nav-items-common(76px, 141px, 582px, 52px);
}

.printer-scanner {
  @include nav-items-common(76px, 140px, 747px, 52px);
}

.pc-parts {
  @include nav-items-common(76px, 65px, 911px, 52px);
}

.all-other {
  @include nav-items-common(76px, 130px, 998px, 52px);
}

.repairs {
  @include nav-items-common(76px, 65px, 1150px, 52px);
}

@media screen and (max-width: 912px) {
  .laptops,
  .desktops,
  .net-devices,
  .printer-scanner,
  .pc-parts,
  .all-other,
  .repairs {
    height: 50px;
    margin: auto;
  }
}

@media screen and (max-width: 810px) {
  .contact-header,
  .main-header {
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
}
