.about-buy-product {
  height: 101px;
  top: 136px;
  background-color: aqua;
}

.about-product {
  display: flex;
  justify-content: start;
  width: 103px;
  height: 21px;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 101px;
}
.center {
  display: flex;
  text-align: center;
  justify-content: center;
}
.right {
  margin-top: 26px;
}
.left {
  margin-top: 40px;
}
.left span {
  font-weight: 600;
  font-size: 14px;
  color: #666666;
  margin-left: 42%;
  border-bottom: 2px solid #0156ff;
}

// .product-details {
//   height: 747px;
//   width: 1064px;
//   left: 0px;
//   top: 237px;
//   border-radius: 0px;
// }

// .product-images {
//   height: 747px;
//   width: 855px;
//   left: 1065px;
//   top: 237px;
//   border-radius: 0px;
// }
