<!-- <div class="container-fluid">
    <div class="row">
        <div class="col">

             <div class="form-area">
                <h3>credit or debit card</h3>
                <div id="card-element">
                </div>

                <div id="card-errors" class="displayError.textContent!=='':'alert alert-danger'">

                </div>

             </div>
        </div>
    </div>
</div> -->
<!-- 
<div class="btn btn-primary" (click)="pay()">Buy Now</div>
<div class="row d-flex justify-content-around">
    <div>first </div>
    <div>second</div>
</div> -->
